<div>
    <nav class="navbar navbar-default navbar-fixed-bottom">
        <div class="navbar-header">
            <div class="hidden-md hidden-lg visible-cu">
                <div class="row">
                    <div class="copyright">
                        Copyright 2017<br />
                    </div>
                </div>
            </div>
        </div>
        <div class="collapse navbar-collapse" id="menuFooter">
            <ul class="nav navbar-nav navbar-right hidden-sm hidden-xs">
                <li class="copyright">
                    Copyright 2017<br />
                </li>
            </ul>
        </div>
    </nav>
</div>